<?xml version="1.0" encoding="utf-8" ?>
<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
	autoReload="true"
	internalLogLevel="Off"
	throwconfigExceptions="true"
	internalLogFile="c:/temp/nlog-internal.log">

	<!--打印到程序根目录下的Logs文件夹-->
	<variable name="rootFolder" value="./Logs" />
	

	<targets>
		<!--分别汇总各个模块的所有日志-->
		<target
			xsi:type="File"
			fileName="${rootFolder}/${shortdate}/${logger}(${shortdate}).log"
			name="module"
			encoding="utf-8"
			keepFileOpen="true"
			openFileCacheTimeout="2000"
			archiveAboveSize="30000000"
			archiveFileName="${rootFolder}/${shortdate}/${logger}(${shortdate}).{##}.log"
			archiveNumbering="Rolling"
			maxArchiveFiles="100"
			layout="[${time} ${level:uppercase=true:format=TriLetter}] ${message} ${exception:format=@}" />
        
		<!--汇总所有模块的Warn,Error,Fatal级别的日志到一个文件-->
		<target
			xsi:type="File"
			fileName="${rootFolder}/${shortdate}/!!!TROUBLES(${shortdate}).log"
			name=-"trouble"
			encoding="utf-8"
			keepFileOpen="true"
			openFileCacheTimeout="2000"
			archiveAboveSize="5000000"
			archiveFileName="${rootFolder}/${shortdate}/!!!TROUBLES(${shortdate}).{##}.log"
			archiveNumbering="Rolling"
			maxArchiveFiles="100"
			layout="[${longdate} ${level:uppercase=true:format=TriLetter} ${logger}] ${message} ${exception:format=@} ${callsite:className=false:fileName=true:includeSourcePath=false:methodName=true}" />
		</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="module" />
		<logger name="*" minlevel="Warn" writeTo="trouble" />
	</rules>
</nlog>